.coursePage-main {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.courseAdd-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}