body {
    background-color: #323232;
    color: white;
}

.adminListUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.addUser-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-main {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #8d772e;
    align-items: center;
}

.navbar-logo {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
}

.navbar-element {
    display: flex;
    margin: 20px 5px;
    padding: 10px;
    background-color: #6e8d35;
    text-decoration: none;
    border-style: groove;
    border-color: #4a8d2d;
    color: #ffffff;
    border-width: 2px;
    font-family: Georgia, serif;
    font-size: larger;
    align-items: center;
}

.navbar-element.active {
    background-color: #30358d;
    outline-style: double;
}


.logout-button {
    max-width: min-content;
}

.login-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.login-button {
    margin-top: 20px;
}